<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <a href="http://localhost:3000/"><button>Home</button></a>
            <a href="http://localhost:3000/songs"><button>Listar músicas</button></a>
            <a href="http://localhost:3000/new-songs"><button>Adicionar músicas</button></a>
            <a href="http://localhost:3000/price"><button>Gerir preço por like</button></a>
        </div>
        <h1>Listagem de músicas disponíveis</h1>
        <div>
            <table border="1">
                <tr>
                    <% for(let i = 0; i < songs.length; i++) { %>
                    <td><%= songs[i].id %></td>
                    <td><%= songs[i].title %></td>
                    <td><%= songs[i].artist %></td>
                    <td><%= songs[i].genre %></td>
                    <td><%= songs[i].duration_seconds %></td>
                    <td><%= songs[i].release_date %></td>
                    <td><%= songs[i].likes %></td>
                    <td><%= songs[i].created_at %></td>
                    <% }; %>
                </tr>
            
            </table>
        </div>
    </div>

    

</body>
</html>