<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <%- include ('partials/header') %>
        </div>
        <h1>Listagem de músicas disponíveis:</h1>
        <div>
            <table border="1">
                <tr>
        
                    <td>Id:</td>
                    <td>Título:</td>
                    <td>Artista:</td>
                    <td>Género:</td>
                    <td>Duração em segundos:</td>
                    <td>Data de lançamento:</td>
                    <td>Likes:</td>
                    <td>Criado em:</td>
                    
                </tr>
                <% for(let i = 0; i < songs.length; i++) { %>
                <tr>
                    <td><%= songs[i].id %></td>
                    <td><%= songs[i].title %></td>
                    <td><%= songs[i].artist %></td>
                    <td><%= songs[i].genre %></td>
                    <td><%= songs[i].duration_seconds %></td>
                    <td><%= songs[i].release_date %></td>
                    <td><%= songs[i].likes %></td>
                    <td><%= songs[i].created_at %></td>
                    <td><button onclick="delete_1('<%=songs[i].id %>')">Delete</button></td>
                </tr>
                <% }; %>
            
            </table>
        </div>
    </div>

<script>
function delete_1(id){
    

            axios.delete(`/api/songs/${id}`)
            .then(response => {
                console.log('Success:', response.data);
                location.reload();
                // Handle success (e.g., show a success message, redirect, etc.)
            })
            .catch((error) => {
                console.error('Error:', error);
                // Handle error (e.g., show an error message)
            });
}

</script>    

</body>
</html>